

.box1 {

border:2px solid blue;
border-radius:30px;
width:100px;
padding:150px 100px;
background:url("r1.jpg")70% 30%;
margin-top:0px;
margin-left:20px
}
.box2 {

width:100px;
border:2px solid blue;
border-radius:30px;
padding:150px 100px;
background:url("machine.jpg");

margin-top:200px;
margin-left:10px;
}
.box3 {

width:100px;
border:2px solid blue;
border-radius:30px;
padding:156px 100px;
background:url("dietplan.jpg")70% 80%;

margin-top:20px;
margin-left:10px;
}
h3 {
width:300px;
text-align:center;
margin-left:-100px;

color:black;
}

a{
color:black;
text-decoration:none;}

p{
text-align:center;
margin:50px 100px;
font-size:40px;
color:gray;
font-family:Algerian;
}
body{
background:white;
background-size:contain;
background-origin:content-box;
}
table{
margin-left:300px;
margin-top:-170px;
}

td {
font-size:28px;
border:20px solid white;
}