/*.circle{

border:2px solid black;
border-radius:100%;
width:195px;
height:195px;
background:url("img/login.jfif")-52px -14px;
}*/

.form table{
border:2px solid black;
margin:0px 650px;
width:500px;
height:450px;
border-radius:10px;
background:#6495ed;
box-shadow: 10px 10px 20px 0px;
}
.form{
	height:500px;
	}
.form td{
font-size:20px;
width:450px;

}
.form input[type='textarea']
{
	border:2px solid blue;
	margin-left:30px;
	width:300px;
	height:50px;
}
	
.form input[type='text']
{
	border:2px solid blue;
	margin-left:30px;
	width:300px;
	height:30px;
}
.form input[type='password']{
	border:2px solid blue;
	margin-left:30px;
	width:300px;
	height:30px;
}
.form input[type='submit']
{
	font-size:20px;
	border-radius:30px;
	padding:10px 100px;
	margin-top:10px;
    background:#02386e;
    color:white;
}
.form input[type='submit']:hover
{
	border:2px solid white;
}
.form input[type='email'],.form input[type='number']
{
	border:2px solid blue;
	margin-left:30px;
	width:300px;
	height:30px;
}
#user_type,#user_gender,#user_state{
    color:gray;
    background:white;
	border:2px solid blue;
	margin-left:30px;
	width:305px;
	height:30px;
}
#user_state{
    color:gray;
	border:2px solid blue;
	margin-left:30px;
	width:305px;
	height:30px;
}